body {
  font-family: sans-serif;
}
.tab {
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
}

.tab.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.tab-contents {
  padding: 20px;
}
